*resharper.user
build/
Logs/
logs/
[Bb]in/
[Oo]bj/
[Hh]elp/
EFExtensions/EFExtensions.xml
*.suo
*.sln.cache
_ReSharper.*/
*.user
*.nupkg
/.paralect.config
*.vs10x
/source/app/Abe.UI.ManagementArea/Web.config
/source/app/Abe.UI.ParentArea/Web.config
/source/app/Abe.UI.SchoolArea/Web.config
/source/app/Abe.UI.StudentArea.P612/Web.config
/source/app/Abe.UI.StudentArea.DesktopToolApi/Web.config
/source/app/Abe.UI.StudentArea.ElementaryApi/Web.config
/source/app/Abe.UI.StudentSingleSignOn/Web.config
/source/app/Abe.Backend/Content/web.config
/source/app/Abe.UnitTests/App.config
/source/misc/Abe.Transferring/App.config
/source/misc/Abe.Admin/Web.config
/source/misc/Abe.ImportOf46ModuleContent/App.config
/source/misc/Abe.Replay/App.config
/source/misc/Abe.Resurrection/App.config
/source/app/Abe.UI.SchoolArea/ReportImages
/source/services/MailService/App.config
/source/services/SchoolYearsCheckingService/App.config
/source/misc/Abe.Replay/App.config
/source/misc/Abe.Upgrade/App.config
/source/services/MailWinService/App.config
/source/services/ScheduleWinService/app.config
/source/app/Abe.UI.SchoolArea/SchoolMascotImages
/source/app/Abe.UI.SchoolArea/UploadedFiles
Logs/
$
Abe Logs/
$/Abe Logs/
/source/test/Abe.UnitTests/App.config
/source/test/Abe.UiTests/Abe.UiTests.csproj
/source/test/Abe.UiTests/BaseSeleniumTest.cs
/source/test/Abe.UiTests/Properties/AssemblyInfo.cs
/source/app/Abe.vsmdi
/source/app/Local.testsettings
/source/app/TraceAndTestImpact.testsettings
/source/app/Abe.UI.SchoolArea/FbaImages
/source/app/Abe.UI.SchoolArea/Abe.UI.SchoolArea.Publish.xml