<div data-bind="with : schoolTitle">
<!-- ko template:{html:html,data:data} -->
<!-- /ko -->
</div>


<div data-bind="with : userMenu">
<!-- ko template:{html:html,data:data} -->
<!-- /ko -->
</div>

<div data-bind="with : topMenu">
<!-- ko template:{html:html,data:data} -->
<!-- /ko -->
</div>

breadcrumbs

<div data-bind="with : studentSeach">
<!-- ko template:{html:html,data:data} -->
<!-- /ko -->
</div>

<div data-bind="with : content">
<!-- ko template:{html:html,data:data} -->
<!-- /ko -->
</div>
